{% extends 'base.html' %} {% block title %}Criar Conta - FakePinterest{%
endblock %} {% block content %}

<form method="POST">
  {{ form.csrf_token }} {{ form.email.label }} {{ form.email(size=32) }}<br />
  {{ form.username.label }} {{ form.username(size=32) }}<br />
  {{ form.senha.label }} {{ form.senha(size=32) }}<br />
  {{ form.confirmar_senha.label }} {{ form.confirmar_senha(size=32) }}<br />
  {{ form.botao_submit_criarconta() }}
</form>

<a href="{{ url_for('login') }}">Voltar para a tela de login</a>

{% endblock %}
