{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}

<h1>Perfil do Usuário</h1>
<p>Bem-vindo ao seu perfil, {{ usuario.nome }}!</p>

{% if formPost %}
<form method="POST" enctype="multipart/form-data">
  {{ formPost.csrf_token }} {{ formPost.foto() }} {{
  formPost.botao_submit_post() }}
</form>
{% endif %}

<h2>Seus Posts</h2>
{% for post in usuario.posts %}
<img
  src="{{ url_for('static', filename='fotos_posts/{}'.format(post.imagem)) }}"
  alt="Post do usuário"
  width="150"
/>
{% endfor %} {% endblock %}
